<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billz.xycode.dao.equipment.EquipmentSubcategoryMapper">
	<resultMap id="BaseResultMap" type="com.billz.xycode.model.equipment.EquipmentSubcategory">
		<id property="subcateid" column="subcateid" jdbcType="INTEGER" />
		<result property="cateid" column="cateid" jdbcType="INTEGER" />
		<result property="subname" column="subname" jdbcType="VARCHAR" />
		<result property="remark" column="remark" jdbcType="VARCHAR" />
		<result property="sn" column="sn" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="BaseResultMap2" type="com.billz.xycode.model.equipment.EquipmentSubcategory">
		<id property="subcateid" column="subcateid" jdbcType="INTEGER" />
		<result property="cateid" column="cateid" jdbcType="INTEGER" />
		<result property="catename" column="catename" jdbcType="VARCHAR" />
		<result property="subname" column="subname" jdbcType="VARCHAR" />
		<result property="remark" column="remark" jdbcType="VARCHAR" />
		<result property="sn" column="sn" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		subcateid,cateid,subname,remark,sn
	</sql>
	<sql id="Base_Column_List2">
		vo.subcateid,vo.cateid,vo.subname,vo.remark,vo.sn,
		cate.catename
	</sql>
	<sql id="Tb_table_name">tb_equipment_subcategory</sql>
	
	<select id="findPageCount" parameterType="psb" resultType="Integer">
		select count(1) from <include refid="Tb_table_name" />
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="bean.cateid != null and bean.cateid != '' ">
				and cateid = #{bean.cateid}
			</if>
			<if test="bean.subname != null and bean.subname != '' ">
				and subname like '%${bean.subname}%'
			</if> 
		</trim>
	</select>
	
	<select id="findPageList" parameterType="psb" resultMap="BaseResultMap2">
		select
			<include refid="Base_Column_List2" />
		from <include refid="Tb_table_name" /> vo
		left join tb_equipment_category cate on cate.cateid=vo.cateid
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="bean.cateid != null and bean.cateid != '' ">
				and vo.cateid = #{bean.cateid}
			</if>
			<if test="bean.subname != null and bean.subname != '' ">
				and vo.subname like '%${bean.subname}%'
			</if> 
		</trim>
		order by vo.subcateid desc
		limit #{start},#{end}
	</select>
	
	<select id="findBySubcateid" parameterType="Integer" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from 
			<include refid="Tb_table_name" />
		where subcateid = #{subcateid}
	</select>
	
	<delete id="delBySubcateid" parameterType="Integer">
		delete from <include refid="Tb_table_name" />
		where subcateid = #{subcateid}
	</delete>
	
	<insert id="insert" parameterType="com.billz.xycode.model.equipment.EquipmentSubcategory" useGeneratedKeys="true"
		keyProperty="subcateid">
		insert into <include refid="Tb_table_name" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="subcateid != null">
				subcateid,
			</if>
			<if test="cateid != null">
				cateid,
			</if>
			<if test="subname != null">
				subname,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="sn != null">
				sn,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="subcateid != null">
				#{subcateid},
			</if>
			<if test="cateid != null">
				#{cateid},
			</if>
			<if test="subname != null">
				#{subname},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="sn != null">
				#{sn},
			</if>
		</trim>
	</insert>
	
	<update id="updateBySubcateid" parameterType="com.billz.xycode.model.equipment.EquipmentSubcategory">
		update <include refid="Tb_table_name" />
		<trim suffixOverrides=",">
			<set> 
				<if test="cateid != null ">
					cateid = #{cateid},
				</if>
				<if test="subname != null ">
					subname = #{subname},
				</if>
				<if test="remark != null ">
					remark = #{remark},
				</if>
				<if test="sn != null ">
					sn = #{sn},
				</if>
			</set>
		</trim>
		where subcateid = #{subcateid}
	</update>
	
	<select id="findSubCateByWeid" parameterType="Long" resultMap="BaseResultMap">
		select sb.* from tb_equipment_water ew
		left join tb_equipment_subcategory sb on sb.subcateid = ew.subcateid
		where ew.weid = ${weid}
	</select>
</mapper>