<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billz.xycode.dao.consume.ConsumeScanMapper">
	<resultMap id="BaseResultMap" type="com.billz.xycode.model.consume.ConsumeScan">
		<id property="did" column="did" jdbcType="BIGINT" />
		<result property="qrcode" column="qrcode" jdbcType="VARCHAR" />
		<result property="status" column="status" jdbcType="BOOLEAN" />
		<result property="remark" column="remark" jdbcType="VARCHAR" />
		<result property="createtime" column="createtime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		did,qrcode,status,remark,createtime
	</sql>
	<sql id="Tb_table_name">tb_consume_scan</sql>

	<select id="findPageCount" parameterType="psb" resultType="Integer">
		select count(1) from
		<include refid="Tb_table_name" />
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="bean.qrcode != null and bean.qrcode != '' ">
				and qrcode = #{bean.qrcode}
			</if>
			<if test="bean.status != null and bean.status != '' ">
				and status = #{bean.status}
			</if>
			<if test="bean.remark != null and bean.remark != '' ">
				and remark = #{bean.remark}
			</if>
			<if test="bean.createtime != null and bean.createtime != '' ">
				and createtime = #{bean.createtime}
			</if>
		</trim>
	</select>

	<select id="findPageList" parameterType="psb" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="Tb_table_name" />
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="bean.qrcode != null and bean.qrcode != '' ">
				and qrcode = #{bean.qrcode}
			</if>
			<if test="bean.status != null and bean.status != '' ">
				and status = #{bean.status}
			</if>
			<if test="bean.remark != null and bean.remark != '' ">
				and remark = #{bean.remark}
			</if>
			<if test="bean.createtime != null and bean.createtime != '' ">
				and createtime = #{bean.createtime}
			</if>
		</trim>
		order by did desc
		limit #{start},#{end}
	</select>

	<select id="findByDid" parameterType="Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="Tb_table_name" />
		where did = #{did}
	</select>

	<delete id="delByDid" parameterType="Long">
		delete from
		<include refid="Tb_table_name" />
		where did = #{did}
	</delete>

	<insert id="insert" parameterType="com.billz.xycode.model.consume.ConsumeScan"
		useGeneratedKeys="true" keyProperty="did">
		insert into
		<include refid="Tb_table_name" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="did != null">
				did,
			</if>
			<if test="qrcode != null">
				qrcode,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="remark != null">
				remark,
			</if>
				createtime,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="did != null">
				#{did},
			</if>
			<if test="qrcode != null">
				#{qrcode},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
				now(),
		</trim>
	</insert>

	<update id="updateByDid" parameterType="com.billz.xycode.model.consume.ConsumeScan">
		update
		<include refid="Tb_table_name" />
		<trim suffixOverrides=",">
			<set>
				<if test="qrcode != null ">
					qrcode = #{qrcode},
				</if>
				<if test="status != null ">
					status = #{status},
				</if>
				<if test="remark != null ">
					remark = #{remark},
				</if> 
			</set>
		</trim>
		where did = #{did}
	</update>
</mapper>