<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billz.xycode.dao.project.ProjectConsumeItemMapper">
	<resultMap id="BaseResultMap" type="com.billz.xycode.model.project.ProjectConsumeItem">
		<id property="itemid" column="itemid" jdbcType="BIGINT" />
		<result property="pid" column="pid" jdbcType="BIGINT" />
		<result property="cateid" column="cateid" jdbcType="INTEGER" />
		<result property="subcateid" column="subcateid" jdbcType="INTEGER" />
		<result property="itemname" column="itemname" jdbcType="VARCHAR" />
		<result property="price" column="price" jdbcType="DOUBLE" />
		<result property="remark" column="remark" jdbcType="VARCHAR" />
		<result property="status" column="status" jdbcType="BOOLEAN" />
		<result property="sn" column="sn" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="BaseResultMap2" type="com.billz.xycode.model.project.ProjectConsumeItem">
		<id property="itemid" column="itemid" jdbcType="BIGINT" />
		<result property="pid" column="pid" jdbcType="BIGINT" />
		<result property="pname" column="pname" jdbcType="VARCHAR" />
		<result property="cateid" column="cateid" jdbcType="INTEGER" />
		<result property="catename" column="catename" jdbcType="VARCHAR" />
		<result property="subcateid" column="subcateid" jdbcType="INTEGER" />
		<result property="subname" column="subname" jdbcType="VARCHAR" />
		<result property="itemname" column="itemname" jdbcType="VARCHAR" />
		<result property="price" column="price" jdbcType="DOUBLE" />
		<result property="remark" column="remark" jdbcType="VARCHAR" />
		<result property="status" column="status" jdbcType="BOOLEAN" />
		<result property="sn" column="sn" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		itemid,pid,cateid,subcateid,itemname,price,remark,status,sn
	</sql>
	<sql id="Base_Column_List2">
		vo.itemid,vo.pid,vo.cateid,vo.subcateid,vo.itemname,vo.price,vo.remark,vo.status,vo.sn,
		pr.pname,cate.catename,sub.subname
	</sql>
	<sql id="Tb_table_name">tb_project_consume_item</sql>
	
	<select id="findPageCount" parameterType="psb" resultType="Integer">
		select count(1) from <include refid="Tb_table_name" />
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="bean.pid != null and bean.pid != '' ">
				and pid = #{bean.pid}
			</if>
			<if test="bean.cateid != null and bean.cateid != '' ">
				and cateid = #{bean.cateid}
			</if>
			<if test="bean.subcateid != null and bean.subcateid != '' ">
				and subcateid = #{bean.subcateid}
			</if>
			<if test="bean.itemname != null and bean.itemname != '' ">
				and itemname = #{bean.itemname}
			</if> 
			<if test="bean.status != null and bean.status != '' ">
				and status = #{bean.status}
			</if>
			<if test="bean.sn != null and bean.sn != '' ">
				and sn = #{bean.sn}
			</if>
		</trim>
	</select>
	
	<select id="findPageList" parameterType="psb" resultMap="BaseResultMap2">
		select
			<include refid="Base_Column_List2" />
		from <include refid="Tb_table_name" /> vo
		left join tb_project pr on pr.pid=vo.pid
		left join tb_equipment_category cate on cate.cateid=vo.cateid
		left join tb_equipment_subcategory sub on sub.subcateid=vo.subcateid
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="bean.pid != null and bean.pid != '' ">
				and vo.pid = #{bean.pid}
			</if>
			<if test="bean.cateid != null and bean.cateid != '' ">
				and vo.cateid = #{bean.cateid}
			</if>
			<if test="bean.subcateid != null and bean.subcateid != '' ">
				and vo.subcateid = #{bean.subcateid}
			</if>
			<if test="bean.itemname != null and bean.itemname != '' ">
				and vo.itemname = #{bean.itemname}
			</if> 
			<if test="bean.status != null and bean.status != '' ">
				and vo.status = #{bean.status}
			</if> 
		</trim>
		order by vo.itemid desc
		limit #{start},#{end}
	</select>
	
	<select id="findByItemid" parameterType="Long" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from 
			<include refid="Tb_table_name" />
		where itemid = #{itemid}
	</select>
	
	<select id="findLowPriceByPid" parameterType="Long" resultType="Double">
		select price from <include refid="Tb_table_name" />
		where pid = #{pid} and status = 1 
		order by price
		limit 1
	</select>
	
	<select id="findByPid" parameterType="map" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from 
			<include refid="Tb_table_name" />
		where pid = #{pid}
		<if test="cateid != null and cateid != '' ">
			and cateid = #{cateid}
		</if>
		<if test="subcateid != null and subcateid != '' ">
			and subcateid = #{subcateid}
		</if>
		<if test="status != null and status != '' ">
			and status = #{status}
		</if>
		order by sn 
	</select>
	
	<delete id="delByItemid" parameterType="Long">
		delete from <include refid="Tb_table_name" />
		where itemid = #{itemid}
	</delete>
	
	<insert id="insert" parameterType="com.billz.xycode.model.project.ProjectConsumeItem" useGeneratedKeys="true"
		keyProperty="itemid">
		insert into <include refid="Tb_table_name" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="itemid != null">
				itemid,
			</if>
			<if test="pid != null">
				pid,
			</if>
			<if test="cateid != null">
				cateid,
			</if>
			<if test="subcateid != null">
				subcateid,
			</if>
			<if test="itemname != null">
				itemname,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="sn != null">
				sn,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="itemid != null">
				#{itemid},
			</if>
			<if test="pid != null">
				#{pid},
			</if>
			<if test="cateid != null">
				#{cateid},
			</if>
			<if test="subcateid != null">
				#{subcateid},
			</if>
			<if test="itemname != null">
				#{itemname},
			</if>
			<if test="price != null">
				#{price},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="sn != null">
				#{sn},
			</if>
		</trim>
	</insert>
	
	<update id="updateByItemid" parameterType="com.billz.xycode.model.project.ProjectConsumeItem">
		update <include refid="Tb_table_name" />
		<trim suffixOverrides=",">
			<set> 
				<if test="pid != null ">
					pid = #{pid},
				</if>
				<if test="cateid != null ">
					cateid = #{cateid},
				</if>
				<if test="subcateid != null ">
					subcateid = #{subcateid},
				</if>
				<if test="itemname != null ">
					itemname = #{itemname},
				</if>
				<if test="price != null ">
					price = #{price},
				</if>
				<if test="remark != null ">
					remark = #{remark},
				</if>
				<if test="status != null ">
					status = #{status},
				</if>
				<if test="sn != null ">
					sn = #{sn},
				</if>
			</set>
		</trim>
		where itemid = #{itemid}
	</update>
</mapper>