<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billz.xycode.dao.project.ProjectOtherSellerMapper">
	<resultMap id="BaseResultMap" type="com.billz.xycode.model.project.ProjectOtherSeller">
		<id property="ospid" column="ospid" jdbcType="BIGINT" />
		<result property="pid" column="pid" jdbcType="BIGINT" />
		<result property="sellerid" column="sellerid" jdbcType="BIGINT" />
		<result property="rolename" column="rolename" jdbcType="VARCHAR" />
		<result property="remark" column="remark" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="BaseResultMap2" type="com.billz.xycode.model.project.ProjectOtherSeller">
		<id property="ospid" column="ospid" jdbcType="BIGINT" />
		<result property="pid" column="pid" jdbcType="BIGINT" />
		<result property="pname" column="pname" jdbcType="VARCHAR" />
		<result property="sellerid" column="sellerid" jdbcType="BIGINT" />
		<result property="sellername" column="sellername" jdbcType="VARCHAR" />
		<result property="rolename" column="rolename" jdbcType="VARCHAR" />
		<result property="remark" column="remark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ospid,pid,sellerid,rolename,remark
	</sql>
	<sql id="Base_Column_List2">
		vo.ospid,vo.pid,vo.sellerid,vo.rolename,vo.remark,
		se.sellername,pr.pname
	</sql>
	<sql id="Tb_table_name">tb_project_other_seller</sql>
	
	<select id="findPageCount" parameterType="psb" resultType="Integer">
		select count(1) from <include refid="Tb_table_name" />
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="bean.pid != null and bean.pid != '' ">
				and pid = #{bean.pid}
			</if>
			<if test="bean.sellerid != null and bean.sellerid != '' ">
				and sellerid = #{bean.sellerid}
			</if>
			<if test="bean.rolename != null and bean.rolename != '' ">
				and rolename = #{bean.rolename}
			</if>
			<if test="bean.remark != null and bean.remark != '' ">
				and remark = #{bean.remark}
			</if>
		</trim>
	</select>
	
	<select id="findPageList" parameterType="psb" resultMap="BaseResultMap2">
		select
			<include refid="Base_Column_List2" />
		from <include refid="Tb_table_name" /> vo
		left join tb_project pr on pr.pid=vo.pid
		left join tb_seller se on se.sellerid=vo.sellerid
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="bean.pid != null and bean.pid != '' ">
				and vo.pid = #{bean.pid}
			</if>
			<if test="bean.sellerid != null and bean.sellerid != '' ">
				and vo.sellerid = #{bean.sellerid}
			</if>
			<if test="bean.rolename != null and bean.rolename != '' ">
				and vo.rolename = #{bean.rolename}
			</if>
			<if test="bean.remark != null and bean.remark != '' ">
				and vo.remark = #{bean.remark}
			</if>
		</trim>
		order by vo.ospid desc
		limit #{start},#{end}
	</select>
	
	<select id="findByOspid" parameterType="Long" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from 
			<include refid="Tb_table_name" />
		where ospid = #{ospid}
	</select>
	
	<delete id="delByOspid" parameterType="Long">
		delete from <include refid="Tb_table_name" />
		where ospid = #{ospid}
	</delete>
	
	<insert id="insert" parameterType="com.billz.xycode.model.project.ProjectOtherSeller" useGeneratedKeys="true"
		keyProperty="ospid">
		insert into <include refid="Tb_table_name" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ospid != null">
				ospid,
			</if>
			<if test="pid != null">
				pid,
			</if>
			<if test="sellerid != null">
				sellerid,
			</if>
			<if test="rolename != null">
				rolename,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="ospid != null">
				#{ospid},
			</if>
			<if test="pid != null">
				#{pid},
			</if>
			<if test="sellerid != null">
				#{sellerid},
			</if>
			<if test="rolename != null">
				#{rolename},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
		</trim>
	</insert>
	
	<update id="updateByOspid" parameterType="com.billz.xycode.model.project.ProjectOtherSeller">
		update <include refid="Tb_table_name" />
		<trim suffixOverrides=",">
			<set> 
				<if test="pid != null ">
					pid = #{pid},
				</if>
				<if test="sellerid != null ">
					sellerid = #{sellerid},
				</if>
				<if test="rolename != null ">
					rolename = #{rolename},
				</if>
				<if test="remark != null ">
					remark = #{remark},
				</if>
			</set>
		</trim>
		where ospid = #{ospid}
	</update>
</mapper>